<header>
<%= render partial: "/layouts/header"%>
</header>
<%= render partial: "jumbotron"%>
  <div class="main">
    
      <% @products.each do |product| %>
      <div class="product" style="width: 18rem;">
      <img src='<%= product.image %>' class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">商品名：<%= product.title %></h5>
          <h6 class="price">価格：<%= product.price %>円</h6>
          <a href="/products/<%= product.id %>" class="btn btn-primary">商品詳細</a>
      </div>
      </div>
        <% if index == 3%><% break%><% end%>
      <% end %>
  </div>

<%= render partial: "/layouts/footer"%>