<header>
<%= render partial: "/layouts/header"%>
</header>
  <%= render partial: "jumbotron"%>
  <div class="main">
    <h2><%= current_user.nickname%>さんの出品</h2>
  <div class="card mb-3">
  <img src='<%= @product.image %>' class="show_image">
  <div class="card-body">
    <h5 class="card-title">商品名：<%= @product.title%></h5>
    <h6 class="card-title">価格：<%= @product.price%>円</h6>
    <p class="card-text">商品詳細：<%= @product.description%></p>
  </div>
    <p><a class="btn btn-primary btn-lg" href="/products/<%= @product.id %>/reviews/new" role="button">レビューを書く</a></p>
    <%# <% if user_signed_in? && current_user.id == tweet.user_id %> 
    <p><a class="btn btn-primary btn-lg" href="/products/<%= @product.id %>/edit" role="button">編集</a></p>
    <p><%= link_to '削除', "/products/#{@product.id}", method: :delete, class: "btn btn-primary btn-lg"%></p>
    <%# <% end %> 
</div>


<h2 class="text-middle">
  <i class="icon-movie color-gray-light"></i>みんなのレビュー
</h2>
<% @product.reviews.each do |review| %>
  <li style="border-bottom: dotted 1px"><%= current_user.nickname%>さんのレビュー
    <div class="thumbnail__caption">
      <p class="text-small">
        <span class="rating-star">
        <i class="star-actived rate-<%= review.rate %>0"></i>
        </span>
      </p>
      <p>
        <%= review.review %>
      </p>
    </div>
  </li>
  <% end %>
</div>
<%= render partial: "/layouts/footer"%>